@import url("https://fonts.googleapis.com/css?family=Cutive+Mono&display=swap");

body {
  font-family: "Cutive Mono", monospace;
  /* font-family: 'Inconsolata', monospace; */
}

h1 {
  margin: 0;
  padding: 0;
  font-size: 7rem;
}

div.link {
  font-size: 1.5em;
}

.section-title {
  margin-left: 1.5rem;
  font-size: 1.7em;
  color: #999
}

a.social-link {
  text-decoration: none;
  color: black;
  font-size: 1.5em;
  margin: 1.5rem 0 0 1.5rem;
  display: block;
  color: #07a;
}

a.social-link > img {
  max-height: 0.75em;
  margin-right: 0.3em;
}

a.social-link > .arrow {
  font-size: 1.75rem;
  color: black;
}

.subheading {
  font-size: 2rem;
  margin: 0 0 7rem 1.5rem;
  overflow: hidden;
  white-space: nowrap;
}

@media (max-width: 600px) {
  .subheading {
    font-size: 1.1rem;
  }
}

/* This hacky css is to make the svg title scale
properly in IE 11 */
div.name {
  position: relative;
  height: 0;
  padding: 0;
  padding-bottom: 13%;
  max-width: 60rem;
}

div.name > svg {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
}
