@import url("https://fonts.googleapis.com/css?family=Cutive+Mono&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Cutive Mono", monospace;
  /* font-family: 'Inconsolata', monospace; */
  padding-bottom: 3rem;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 7rem;
}

section {
  padding: 0 1.5rem;
}

div.link {
  font-size: 1.5em;
}

.section-title {
  margin-top: 4rem;
  font-size: 1.7em;
  color: black;
}

.social-link {
  margin-top: 1.5rem;
}

.social-link a {
  text-decoration: none;
  color: black;
  font-size: 1.5em;
  color: #07a;
}

.social-link  img {
  max-height: 0.75em;
  margin-right: 0.3em;
}

.social-link .arrow {
  font-size: 1.75rem;
  color: black;
}

.subheading {
  font-size: 2rem;
  margin-left: 1.5rem;
  overflow: hidden;
  white-space: nowrap;
}

@media (max-width: 600px) {
  .subheading {
    font-size: 1.1rem;
  }
}

/* This hacky css is to make the svg title scale
properly in IE 11 */
div.name {
  position: relative;
  height: 0;
  padding: 0;
  padding-bottom: 13%;
  max-width: 60rem;
}

div.name > svg {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
}

.cm-field {
  margin-top: 1.5rem;
}

.cm-input {
  font-family: "Cutive Mono", monospace;
  padding: 0.5rem;
  width: 40rem;
  border: solid 3px #999;
  font-size: 1.6rem;
  display: block;
  border-radius: 0;
}

@media(max-width: 44rem) {
  .cm-input {
    width: 100%;
  }
}

.cm-label {
  color: slategrey;
  font-size: 1.2rem;
}

.cm-submit {
  font-family: "Cutive Mono", monospace;
  padding: 0.5rem;
  font-size: 1.2rem;
  background-color: inherit;
  border: solid 3px #690;
  color: #690;
  font-weight: 600;
  box-shadow: 2px 2px lightgrey;
}

.cm-submit:hover {
  color: white;
  background-color: #690;
}

.cm-submit:active {
  box-shadow: none;
}
